/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: adelphe;
  src: url("/fonts/Adelphe-Trouble-FlorealRegular.woff");
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingPageContainer {
  background-image: url(/img/bg-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.heroHeading {
  font-size: 150px;
  font-family: adelphe;
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: adelphe;
}
